/.idea
/.vscode
/node_modules
/npm-debug.log
/yarn-error.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/public/*
/vendor
.env
.env.backup
.phpunit.result.cache
homestead.json
homestead.yaml
auth.json
.DS_Store
Thumbs.db
*.log
*.sqlite
composer.phar
composer-setup.php
